body, html {
height: 100%;
margin: 0;
}

.bg {
/* The image used */
background-image: url("images/home.jpg");

/* Full height */
height: 100%; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.a{
    position: absolute;
    color: rgb(233, 233, 233);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}


.b{
    width: 400px;
    height: 500px;
    border-radius: 12px;
}